nav {

    .menu-button {
        padding: 6px 10px 5px 10px;
        border-radius: 5px;
    }

    .side-bar-overlay {
        display: flex;
        justify-content: center;
        
        .overlay {
            display: none;
            position: fixed;
            top: 0; right: 0; left: 0; bottom: 0;
            background: #0000005d;

            &.active {
                display: block;
            }
        }
        
        .side-bar {
            width: 280px;
            z-index: 9;
            left: 0;
            transform: translate3d(-100%, 0, 0);
            transition: .3s ease-out;

            &.display {
                transform: translate3d(0, 0, 0);
            }

            .author-info {
                color: universal(light);

                .author-profile {
                    height: 100px;
                    width: 100px;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .theme-button {
                    right: 20px;
                    top: 30px; 
                    font-size: 28px;
                }
            }

            .nav-item {
                margin: 5px 0px;

                .nav-link {
                    padding-left: 15px;
                    font-size: 18px;
                    transition: .2s ease-out;
                    color: universal(light);

                    i {
                        font-size: 20px;
                        width: 35px;
                        text-align: center;
                    }

                    &:hover {
                        background: universal(shadow);
                        border-left: 5px solid universal(light);
                    }
                }
            }

        }
        
    }
}