.services {

    .service {
        width: 380px;
        margin: 20px auto;
        clear: both;
        padding: 15px;

        @include responsive(mobileLarge) {
            width: 100%;
        }
    }
}