.social-links {

    .nav-item {
        height: 65px;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-out;
        font-size: 36px;

        @include responsive(mobileMedium) {
            font-size: 30px;
            height: 60px;
            width: 60px;
            margin: 0px 10px 0px 10px !important;
        }

        .nav-link {
            color: white;
        }

        &:hover {
            background: white !important;

            .nav-link {
                color: black !important;
            }
        }
    }
}