.social-links {

    .nav-item {
        height: 65px;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-out;
        font-size: 36px;

        .nav-link {
            color: white;
        }

        &:hover {
            background: white !important;

            .nav-link {
                color: black !important;
            }
        }
    }
}