* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

body, html {
    scroll-behavior: smooth;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

body {
    overflow-x: hidden;
}

.back-to-top {
    position: fixed;
    display: none;
    color: universal(light);
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
    display: none;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

@media (max-width: 1150px) {
    .vh-sm-0 {
        height: auto !important;
        padding: 20px 0px 40px 0px;
    }
}

.bg, .bg-lighten {
    transition: background .2s ease-out;
}